<div class="markdown-content">
  <h1
    *ngIf="title"
    class="text-2xl font-bold mb-4 text-gray-900 dark:text-white"
  >
    {{ title }}
  </h1>

  <ng-container *ngFor="let segment of segments; let i = index">
    <div *ngIf="isComponent(segment)" class="my-6">
      <app-component-renderer
        [componentData]="{
          componentType: segment.type,
          componentProps: segment.props,
        }"
      ></app-component-renderer>
    </div>

    <markdown
      *ngIf="!isComponent(segment)"
      [data]="segment"
      class="prose dark:prose-invert max-w-none"
    ></markdown>
  </ng-container>
</div>
