.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #e2e8f0;
  padding-bottom: 1rem;
  padding-top: 1rem;
}




.accordion-header.expanded {
  border-bottom: unset;
}

.accordion-icon {
  transition: transform 0.3s;
  font-size: 0.75rem;
  color: #64748b;
}

.accordion-icon.expanded {
  transform: rotate(180deg);
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.accordion-content.expanded {
  max-height: 1000px;
}