<!-- src/app/components/dashboard/tabs/tabs.component.html -->
<div class="tabs-container">
  <div class="tabs-header">
    <div
      *ngFor="let tab of getTabs()"
      class="tab-item"
      [class.active]="isTabActive(tab.id)"
      (click)="selectTab(tab.id)"
    >
      {{ tab.title }}
    </div>
  </div>

  <div class="tab-content">
    <div *ngIf="activeTabId && parsedContents[activeTabId]">
      <app-md-renderer
        [parsedContent]="parsedContents[activeTabId]"
      ></app-md-renderer>
    </div>
    <div *ngIf="!activeTabId || !parsedContents[activeTabId]" class="no-data">
      No data available
    </div>
  </div>
</div>
