<ng-container *ngIf="errors.length > 0; else accordionItemContent">
  <app-inline-error
    inputType="AccordionItem"
    height="52"
    width="100%"
    [error]="errors"
  ></app-inline-error>
</ng-container>

<ng-template #accordionItemContent>
  <div class="accordion-item" [class]="customClass" [class.disabled]="disabled">
    <button
      class="accordion-header"
      [class.expanded]="expanded"
      (click)="toggleExpanded()"
      [disabled]="disabled"
    >
      <ng-container *ngIf="titleTemplate; else defaultTitle">
        <ng-container *ngTemplateOutlet="titleTemplate"></ng-container>
      </ng-container>
      <ng-template #defaultTitle>
        {{ title }}
      </ng-template>
      <i class="accordion-icon" [class.expanded]="expanded">▼</i>
    </button>
    <div class="accordion-content" [class.expanded]="expanded">
      <ng-container *ngIf="contentTemplate; else defaultContent">
        <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
      </ng-container>
      <ng-template #defaultContent>
        {{ content }}
      </ng-template>
    </div>
  </div>
</ng-template>
