<div class="accordion" [class]="props.class">
  <ng-container *ngIf="hasItems()">
    <ng-content></ng-content>
  </ng-container>
  <ng-container *ngIf="!hasItems() && props.items">
    <app-accordion-item
      *ngFor="let item of props.items; let i = index"
      [title]="item.title"
      [content]="item.content"
      [disabled]="item.disabled ?? false"
      [customClass]="item.customClass ?? ''"
      [expanded]="isPanelOpen(i)"
      (expandedChange)="onPanelExpanded(i, $event)"
    ></app-accordion-item>
  </ng-container>
</div>